<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='ie=edge' http-equiv='x-ua-compatible'>
    <title>Magical Bedroom Projects</title>
    <meta content='' name='description'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='stylesheets/main.css' rel='stylesheet'>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class='content'>

      <div class='product-list'>

        {% asyncEach product in products %}
          {% include "assets/views/product.html" %}
        {% endeach %}

      </div>

      <div class='cart'>
        <div class='cart__hed'>
          Cart
          <span class='cart__count' data-id='cart-count' id='cart-count'></span>
        </div>
        <div class='cart-items' id='cart-items'>

        </div>
        <div class='cart__total'>
          Total <span data-id='cart-total' id='cart-total'>{{ cart_total }}</span>
        </div>
      </div>
    </div>
    <div id="results">
    </div>
    <script src='javascripts/main.js'></script>
    <script src='javascripts/nunjucks.min.js'></script>
  </body>
</html>

