// Mixin that adds the passed in transforms to an element
// in a cross-browser compatible way
//
// Sourced from http://codepen.io/sawmac/pen/qGudy
//
// Cutomizable options:
//
// $transforms - a string of transforms to be applied to the element
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}