@import "normalize";
@import "box-sizing";
@import "hover-fade";
@import "colors";
@import "buttons";

body {
  font-size: 16px;
}



// Nav
.nav-primary {
}

.nav-list {
}

.nav-item {
}

// Product List

.store {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.product-list {
  width: 100%;
}

.product {
  background-color: color("tapestry");
  display: inline-block;
  width: 100%;
}

.product__name {
}

.product__dek {
}

.product__price {
}

.product__buy {
}

// Cart

.cart {
  width: 100%;
}

.cart__hed {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.cart__count {
  display: inline-block;
  vertical-align: middle;
}

.cart-items {

}

.item {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.item__name {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.item__price {
  display: inline-block;
  vertical-align: middle;
}

.item__remove {
  display: inline-block;
  vertical-align: middle;
}

.cart__total {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
